@font-face {
    font-family: 'SEBANG_Gothic_Regular';
    src: local('Sebang/SEBANG Gothic OTF.otf'),
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: local('Sebang/SEBANG Gothic OTF Bold.otf'),
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'SEBANG_Gothic_Regular';
    line-height: 2;
    margin:0; padding:0;
    background: #564260;
    background-repeat: no-repeat;
    height: 100vh; 
    box-sizing: border-box;
}

#bg{
  font-size: 238px; font-weight: bold;
  width: 90vw;
  z-index: -1;
  position: fixed;
  left: 50vw; top: 50vh;
  transform: translate(-50%, -50%);
  text-shadow: #f8e9ff 1px 0 10px;
  -webkit-text-fill-color: #564260; /* ???? */
  /*-webkit-text-stroke-width: 0.1px;*/
  -webkit-text-stroke-color: #a08caa;
}

.container{ 
    width: 70vw; height: 3500px;
    /*margin-top: 300px; padding-top: 15vh;*/
    margin-top: 100vh; padding-top: 600px;
    position: relative;
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    display: flex; 
    flex-direction: column;
    justify-content: center;

}
.switch{ /*box per switch*/
    border: 1px solid black;
    width: 70vw; height: auto;
    margin-bottom:200px;
    background-color: #2c1338; /* w/o bg - cutout not working*/
    box-shadow: 0 0 10px #220c2c;
    border-radius: 10px;
}
  
.text {
    line-height: 1.3;
    background-color: white;
    border-radius: 30px;
    color: black;
    font-size: 60px; /* Responsive font size */
    font-weight: bold;
    margin: 50px auto; /* Center the text container */
    padding: 10px;
    width: 40%;
    text-align: center; /* Center text */
    mix-blend-mode: screen; /* This makes the cutout text possible */
  }
.rating{
      width: 45vw; height: 450px;
      margin: 10px 0 0 20%;
      color: rgb(255, 243, 205);
  }
.rating p{
      text-align: center;    
      font-size: 20px;     
}
  /* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top: 10px;
  }
  
  .middle {
    float: left;
    width: 70%;
    margin-top: 10px;
  }
  
  /* Place text to the right */
  .right {
    text-align: right;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .row{
    margin: 60px 0 25px 0;
  }
  
  /* The bar container */
  .bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  [class^='bar-']{
    border-radius: 10px;
  }
  /*---------------------red bar -----------------------*/
/* Individual bars animation*/
  @keyframes progressbar5 {  /*너무귀찮음*/
    0% { width: 0%; } 100% { width: 60%; } 
  }
  @keyframes progressbar4{ 
    0% { width: 0%; } 100% { width: 30%; } 
  }
  @keyframes progressbar3 { 
    0% { width: 0%; } 100% { width: 10%; } 
  }
  @keyframes progressbar2 { 
    0% { width: 0%; } 100% { width: 4%; } 
  }
  @keyframes progressbar1 { 
    0% { width: 0%; } 100% { width: 15%; } 
  }
  

  /*use nth child or switch color classname*/
  /* Individual bars */ /*animation 질문>> 선택자 적용? 일일이 다 해야하는건가*/
  .bar-5 {width: 60%; height: 18px; background-color:darkolivegreen;
    animation: progressbar5 2s ease-out;}
  .bar-4 {width: 30%; height: 18px; background-color: #2196F3;
    animation: progressbar4 2s ease-out;}
  .bar-3 {width: 10%; height: 18px; background-color: #00bcd4;
    animation: progressbar3 2s ease-out;}
  .bar-2 {width: 4%; height: 18px; background-color: #ff9800;
    animation: progressbar2 2s ease-out;}
  .bar-1 {width: 15%; height: 18px; background-color: #f44336;
    animation: progressbar1 2s ease-out;}

/*----------------------brown bar -----------------------*/

@keyframes progressbar5-1 {  /*animation on scroll give up*/
  0% { width: 0%; } 100% { width: 30%; } 
}
@keyframes progressbar4-1{ 
  0% { width: 0%; } 100% { width: 70%; } 
}
@keyframes progressbar3-1 { 
  0% { width: 0%; } 100% { width: 20%; } 
}
@keyframes progressbar2-1 { 
  0% { width: 0%; } 100% { width: 4%; } 
}
@keyframes progressbar1-1 { 
  0% { width: 0%; } 100% { width: 50%; } 
}

/*----------------------blue bar -----------------------*/

/*use nth child or switch color classname*/
/* Individual bars */ /*animation 질문>> 선택자 적용? 일일이 다 해야하는건가*/
.bar-5-1 {width: 30%; height: 18px; background-color:darkolivegreen;
  animation: progressbar5-1 2s ease-out;}
.bar-4-1 {width: 70%; height: 18px; background-color: #2196F3;
  animation: progressbar4-1 2s ease-out;}
.bar-3-1 {width: 20%; height: 18px; background-color: #00bcd4;
  animation: progressbar3-1 2s ease-out;}
.bar-2-1 {width: 4%; height: 18px; background-color: #ff9800;
  animation: progressbar2-1 2s ease-out;}
.bar-1-1 {width: 50%; height: 18px; background-color: #f44336;
  animation: progressbar1-1 2s ease-out;}
  
#colbar-box{
  border: none;
  z-index: 3;
}
[id^='sbar']{
  width: 10px;
  background-color: #00bcd4;
  margin-left:50%;
  transform: translateX(-50%);
}
table, tr, td{border: 1px solid white;}
#middlebox{
  vertical-align: bottom;
}
  
#sbar1{height: 30px;}
#sbar2{height: 60px;}
#sbar3{height: 10px;}
#sbar4{height: 20px;}
#sbar5{height: 50px;}

  /* Responsive layout - make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 1200px) and (min-width:501px) {
    #bg{
      font-size: 120px;
      position: fixed;
      left: 55vw; top: 50vh;
      transform: translate(-50%, -50%);
    }
    .container {padding-top: 1300px;}

    .switch{
      margin-bottom:200px 0;
      height: 1200px;
    }
    
  .text {
      margin: 30px auto; /* Center the text container */
      padding-top: 0px;
      font-size: 50px;
      width: 50%; height: 125px;
    }
    .rating p{
      text-align: center;
      font-size: 15px;     
}
    .row{
      margin: 30px 0 25px 0;
    }
    
    .side {
      width: 100%;
      position: relative;
      left: 40px;
    }
    /* Hide the right column on small screens */
    .middle {display: none;}
    .right{
      position: relative;
      bottom:45px; right: 150px;/*right, margin not working*/
    }
  }
  @media screen and (max-width:500px) {
    #bg{
      font-size: 50px;
      position: fixed;
      left: 55vw; top: 50vh;
      transform: translate(-50%, -50%);
    }
    .text {
      margin-top: 35px; /* Center the text container */
      padding-top: 25px;
      font-size: 30px;
      width: 70%; height: 50px;
    }
    .rating p{
      text-align: center;
      font-size: 15px;     
    }
    .row{
      margin: 30px 0 25px 0;
    }
    
    .side{
      width: 100%;
    }
    .middle {display: none;}
    .right{
      position: relative;
      bottom: 40px; right: 30px;
    }
  }